<%- include("partials/header"); -%>
<%- include('nav');-%>

<div class="adjust">


    <div class="row">
<img class='image' src='images/blog.jpg'>
</div>
<div class="row d-flex justify-content-center">
    <h1 style="text-align: center;margin-top: 40px;"><strong>About</strong></h1><br>
</div>
<div class="row about">
    <h2> <%= aboutContent %> </h2><br>
</div>
<div class="row about">
    <ul>
        <li><h4>This is a multi-user blog website where users can compose publish and edit their blogs.</h4></li>
        <li><h4>These blogs can be seen by anyone over the internet.</h4></li>
        <li><h4>Feel free to sign,your credentials are safe with us.</h4></li>
    </ul>
</div>
    <br>
    
    <div class="row justify-content-center ">
    <h2>Enjoy Blogging!!</h2>
</div>
    <br>

</div>


    
<%- include("partials/footer"); -%>
