
<%- include("partials/header"); -%>
<%-include('nav'); -%>

<div class="container">
    <h1>Compose</h1>
   
    <section class="mb-4">
    <form action="/publish" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle" >
        <label>Post</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea><br>
        
        <input type="file" name='blogimage' multiple ><br><br>
      <button class="btn btn-primary " type="submit" name="button">Publish</button>
    </div>
    </form>

    

    <div class='prevBlog'>
    <h3>Previously made any blogs?</h3>
    <h4>Check it out here!</h4>
    <a class="btn btn-danger logOut" href="/logout" role="button">Log Out</a>
    <a class="btn btn-warning" href="/myBlogs" role="button">My Blogs</a>
  </div>
</section>
  
</div>

<%- include("partials/footer"); -%>

